<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>openvocs admin SIP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/ov_basic.css" />
</head>

<body>
    <div class="container" id="view_container"></div>
    <script type="text/javascript" src="/app/vocs/views/loops/js/default_config.js"></script>
    <!-- default loop config -->
    <script type="text/javascript" src="/app/vocs_admin/views/auth/js/default_config.js"></script>
    <!-- default login config -->
    <script>
        USERNAME = "";
        PASSWORD = "";
        PROJECT = ""
        SIGNALING_SERVERS = [{
            NAME: "",
            WEBSOCKET_URL: "",
            RECORD: true
        }];
        RECORDER = true;
    </script>
    <script type="module">
        import * as Recorder_Config from "./js/recorder_config.js";
        import ov_Websocket from "/lib/ov_websocket.js";
        import * as ov_Websockets from "/lib/ov_websocket_list.js";
        import * as ov_Web_Storage from "/lib/ov_utils/ov_web_storage.js";
        import * as ov_Auth from "/lib/ov_auth.js";
        import * as ov_DB from "/lib/ov_db.js";

        document.addEventListener("DOMContentLoaded", async function () {
            let view_container = document.getElementById("view_container");
            let loading_screen = document.getElementById("loading_screen");

            await ov_Websockets.setup_connections(ov_Websocket);
            let session = ov_Websockets.prime_websocket.session;
            if (session)
                await ov_Auth.login(session.user, session.session);
            else
                await ov_Auth.login("admin", "admin");

            await Recorder_Config.init(view_container);

            let user = ov_Websockets.user();
            let domain_config = await ov_DB.get_config("domain", user.domain);

            user.admin = "domain";
            user.project = PROJECT;
            // mark domain level loops
            if (domain_config.users)
                for (let user_id of Object.keys(domain_config.users))
                    domain_config.users[user_id].global = true;

            if (domain_config.roles)
                for (let role_id of Object.keys(domain_config.roles))
                    domain_config.roles[role_id].global = true;

            if (domain_config.loops)
                for (let loop_id of Object.keys(domain_config.loops))
                    domain_config.loops[loop_id].global = true;

            // get project  
            let project_config;
            if (user.project && domain_config.projects) {
                project_config = domain_config.projects[user.project];
                project_config.domain = user.domain;
            }

            Recorder_Config.render(project_config.loops);
        });
    </script>
</body>