:root {
    --touch: 1;
}

#recorder_config {
    display: grid;
    grid-template-columns: 15rem 1fr;
    height: inherit;
}

#loops, #recorder_settings {
    height: 100%;
    overflow-y: auto;
}

#recorder_loops:empty + #recorder_settings {
    display: none;
}

#warning {
    display: none;
}

#recorder_loops:empty ~ #warning {
    display: inherit;
}

#start_stop_recorder.recording {
    background-color: var(--red);
}

#start_stop_recorder::before {
    content: "\0025CF";
    font-size: 1.3rem;
    line-height: 1rem;
}

#message.error {
    color: var(--red);
}

#message.success {
    color: var(--green);
}