<!DOCTYPE html>
<html lang="en" class="dark">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html">
        <link rel="stylesheet" href="/plugin/simple-keyboard-3.8.0/css/index.css">
        <title>SIP number pad</title>
        <style>
            @import "/css/ov_basic.css";
            root {
                --touch: 1;
            }
            body {
                background-color: var(--base_color);
            }
        </style>
        
    </head>
    <body>
        <ov-sip-number-pad></ov-sip-number-pad>
        <script type="module" src="number_pad.js"></script>
        <script src="/plugin/simple-keyboard-3.8.0/index.modern.js"></script>
    </body>

    <script>
        SCREEN_KEYBOARD = true;
    </script>

    <script type="module">
        let number_pad = document.querySelector("ov-sip-number-pad");
        number_pad.addEventListener("trigger_call", (event) => {
            console.log("Number: " + event.detail);
            number_pad.clear_number();
        });
        number_pad.addEventListener("show_calls", () => console.log("Show calls"));
    </script>
</html>