:host {
    cursor: pointer;
    border: solid var(--base_color) 0.2rem;
}

.icon {
    margin: 0.25rem;
    width: 1.1em;
    height: 1.1em;
    display: inline-block;
}

#join_loop {
    color: var(--element_art_color);
    /*border-bottom-color: var(--black_transparent_64);*/
}

:host([state=recv].activity), :host([state=send].activity), :host(.vad) {
    border: solid var(--white) 0.2rem;
    animation: none;
}

#join_loop svg {
    fill: var(--element_art_color);
}

#join_loop #loop_name {
    color: var(--base_text_color);
}

#join_loop,
#leave_loop,
#loop_volume {
    height: inherit;
    border-radius: 0;
    margin: 0;
    line-height: 1rem;
}

:host(:not([permission=send])) .talk_icon {
    display: none;
}

:host([state=recv]) #leave_loop,
:host([state=recv]) #join_loop,
:host([state=recv]) #loop_volume {
    background-color: var(--blue);
}

:host([state=send]) #leave_loop,
:host([state=send]) #join_loop,
:host([state=send]) #loop_volume {
    background-color: var(--green);
}

#loop_volume .icon {
    width: 2rem;
}

#loop_volume #loop_volume_indicator_value {
    width: 4em;
    text-align: left;
}

#loop_volume #loop_volume_input {
    -webkit-appearance: none;
    height: 1.25em;
    outline: none;
    margin: auto 0.3em;
    border-radius: 0;
    background: var(--black_transparent_78);
}

#loop_volume #loop_volume_input:focus {
    outline: none;
}

#loop_volume #loop_volume_input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.25em;
    height: 1.25em;
    cursor: pointer;
    background: var(--black_transparent_50);
}

#loop_volume #loop_volume_input::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1.25em;
    height: 1.25em;
    cursor: pointer;
    border: transparent;
    border-radius: 0;
    background: var(--black_transparent_50);
}

#loop_volume #loop_volume_input::-moz-range-track {
    width: 100%;
    height: 0.525em;
    cursor: pointer;
    background: transparent;
}

/**
loops for grid layout ---------------------------------------------------------
*/

:host([layout=grid_element]) {
    display: grid;
    position: relative;
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 1fr);
    grid-template-rows: minmax(min-content, 3fr) minmax(min-content, 1fr);
    grid-template-areas: "join join join" "volume volume leave";
}

:host([layout=grid_element]) #join_loop {
    grid-area: join;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "permission participants" "name name" "activity activity";
    grid-template-rows: 1fr auto 1fr; 
    align-items: center;

    border-bottom-width: 0.063rem;
    border-bottom-style: solid;
}

:host([layout=grid_element]) #join_loop #loop_permission {
    grid-area: permission;
    text-align: center;
}

:host([layout=grid_element]) #join_loop #loop_activity {
    grid-area: activity;
    text-align: center;
    overflow-wrap: break-word;
    max-height: 4rem;
    overflow: hidden;
}

:host([layout=grid_element]) #join_loop #loop_participants {
    grid-area: participants;
    text-align: center;
}

:host([layout=grid_element]) #join_loop #loop_name {
    grid-area: name;
    text-align: center;
    vertical-align: middle;
}

:host([layout=grid_element]) #leave_loop {
    grid-area: leave;
    text-align: center;
}

:host([layout=grid_element]) #loop_volume {
    grid-area: volume;

    display: flex;
    align-items: center;

    position: relative;
}

:host([layout=grid_element]) #loop_volume .icon {
    margin-right: 0.5rem;
    margin-left: 1rem;
}

:host([layout=grid_element]) #loop_volume #loop_volume_input {
    height: 100%;
    margin: 0 auto;
    width: 100%
}

:host([layout=grid_element]) #loop_volume_input_container {
    padding-right: 1rem;
}

/**
loops for list layout ---------------------------------------------------------
*/

:host([layout=list_element]) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
        "join join join join join join join leave"
        "volume volume volume volume volume volume leave";
    grid-template-rows: 1fr auto;
}

:host([layout=list_element]) #leave_loop {
    grid-area: leave;

    display: grid;
    align-items: center;

    font-size: 0.9em;
    text-align: center;
}

:host([layout=list_element]) #join_loop {
    grid-area: join;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: "name name name permission activity activity participants";
    align-items: center;
    min-height: 5rem;
}

:host([layout=list_element]) #join_loop #loop_permission {
    grid-area: permission;
    text-align: center;
}

:host([layout=list_element]) #join_loop #loop_activity {
    grid-area: activity;
    text-align: center;
    overflow-wrap: anywhere;
}

:host([layout=list_element]) #join_loop #loop_participants {
    grid-area: participants;
    text-align: center;
}

:host([layout=list_element]) #join_loop #loop_name {
    grid-area: name;
    text-align: left;
    vertical-align: middle;
    padding-left: 0.5em;
}

:host([layout=list_element]) #loop_volume {
    grid-area: volume;

    min-height: 1.875rem;
    display: flex;
    align-items: center;
    padding: 0.5em;
}

:host([layout=list_element]) #loop_volume #loop_volume_input {
    width: 95%;
}