:host {
    cursor: pointer;
    border: solid var(--base_color) 0.2em;

    display: grid;
    grid-template-columns: minmax(min-content, 7fr) minmax(min-content, 1fr);
    grid-template-rows: minmax(min-content, 1.5fr) minmax(min-content, 1fr);
    grid-template-areas: "join leave"
        "volume leave";
}

#join_loop,
#leave_loop,
#loop_volume {
    height: inherit;
    border-radius: 0;
    margin: 0;
    line-height: 1em;
    font-size: 1rem;
}

.icon {
    margin: 0.25em;
    width: 1em;
    height: 1em;
    display: inline-block;
}

#join_loop {
    grid-area: join;
    color: var(--element_art_color);
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
    grid-template-areas:
        "name     permission participants"
        "activity activity   activity    ";
    grid-template-rows: 1.5fr 1fr;
    align-items: center;
    min-height: 5em;
    border-bottom-width: 0.063em;
    border-bottom-style: solid;
}

#join_loop .icon {
    margin-top: 0.5em;
}

#join_loop svg {
    fill: var(--element_art_color);
}

#join_loop #loop_name {
    grid-area: name;
    color: var(--base_text_color);
    vertical-align: middle;
    font-size: 1.5em;
    line-height: 1.2em;
    text-align: left;
    padding-left: 0.25em;
}

#join_loop #loop_permission {
    grid-area: permission;
}

#join_loop #loop_activity {
    grid-area: activity;
    height: 1em;
    font-size: 1.1em;
    text-align: left;
    overflow: hidden;
    padding-left: 0.5em;
}

#join_loop #loop_participants {
    grid-area: participants;
}

#loop_volume {
    grid-area: volume;
    display: flex;
    gap: 0.2em;
    align-items: center;
}

#loop_volume .icon {
    margin-left: 0.5em;
    width: 1.5em;
}

#loop_volume #loop_volume_indicator_value {
    width: 1.5em;
    text-align: right;
    display: none;
}

#loop_volume #loop_volume_input {
    -webkit-appearance: none;
    height: 95%;
    outline: none;
    margin: 0.1rem 0.1rem 0 0.1em;
    border-radius: 0;
    background: var(--black_transparent_78);
    width: 95%;
}

#loop_volume #loop_volume_input_container {
    flex-grow: 1;
    height: 100%;
}

#loop_volume #loop_volume_input:focus {
    outline: none;
}

#loop_volume #loop_volume_input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.5em;
    height: 95%;
    cursor: pointer;
    background: var(--black_transparent_50);
}

#loop_volume #loop_volume_input::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1.5em;
    height: 95%;
    cursor: pointer;
    border: transparent;
    border-radius: 0;
    background: var(--black_transparent_50);
}

#loop_volume #loop_volume_input::-moz-range-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
}

#leave_loop {
    grid-area: leave;
}

:host(:not([permission=send])) .talk_icon {
    display: none;
}

:host([state=recv]) #leave_loop,
:host([state=recv]) #join_loop,
:host([state=recv]) #loop_volume {
    background-color: var(--blue);
}

:host([state=send]) #leave_loop,
:host([state=send]) #join_loop,
:host([state=send]) #loop_volume {
    background-color: var(--green);
}

:host([state=recv].activity),
:host([state=send].activity),
:host(.vad) {
    border: solid var(--white) 0.2em;
    animation: none;
}

/**
loops for grid layout ---------------------------------------------------------
*/

@media (min-width:481px) {
    :host {
        display: grid;
        grid-template-columns: minmax(min-content, 1.9fr) minmax(min-content, 1fr);
        grid-template-rows: minmax(min-content, 2fr) minmax(min-content, 1fr);
        grid-template-areas: "join join" "volume leave";

        container-type: size;
        container-name: loop;
    }
}

@container loop (width < 50vw) {

    .button,
    button {
        min-height: initial;
    }

    #join_loop,
    #leave_loop,
    #loop_volume {
        font-size: clamp(6px, min(9cqh, 9cqw), 1.3rem);
    }

    #join_loop {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "permission participants" "name name" "activity activity";
        grid-template-rows: 1.8em minmax(calc(2 * clamp(10px, min(13cqh, 13cqw), 1.8rem)), 1fr) 1.8em;
    }

    #join_loop #loop_name {
        text-align: center;
        font-size: clamp(10px, min(13cqh, 13cqw), 1.8rem);
        padding-left: 0;
        overflow-wrap: break-word;
        hyphens: auto;
        hyphenate-character: "";
    }

    #loop_permission .icon {
        width: 1.1em;
        height: 1.1em;
    }

    #join_loop .icon {
        margin-top: 1em;
    }

    #join_loop #loop_activity {
        /* height: 18cqh; */
        overflow-wrap: break-word;
        text-align: center;
    }
}