.view {
    --touch: 1;
}

option.off, select.off {
    color: var(--red);
}

select {
    width: 15rem;
}

#config_name {
    flex-grow: 2;
    margin-right: 0.5rem;
    padding-right: 1rem;
}

#select_subview {
    margin: 0 var(--default_space) var(--default_space);
    padding-left: 1rem;
    border-left: solid 0.1rem var(--element_art_color);
}

#administration {
    height: calc(100vh - var(--menu_bar_height) + var(--default_space));
    overflow-y: auto;
}

#administration .container {
    display: none;
}

#administration.broadcast #broadcast_page,
#administration.recorder #recorder_page {
    display: inherit;
    height: 100%;
}

#menu_slider {
    bottom: var(--menu_bar_height);
    width: 15rem;
}

#menu_slider div[slot=dialog-content] {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100% - 3rem);
}

#menu_slider button {
    width: 5.8rem;
}