<main id="mainframe" class="view">
    <details open>
        <summary>Broadcasts</summary>

        <button id="reload_broadcast">Reload</button>
        <div id="switch_server">

            <select id="switch_server_id">
                <option hidden disabled selected value> -- select an option -- </option>
            </select>
            <button id="switch_server_broadcast">Switch server</button>
        </div>
    </details>

    <button id="logout_button" class="red_button">Logout</button>

</main>