<template>
    <div id="node_area" class="button">
        <button id="edit_icon" class="icon">
            <svg>
                <use xlink:href="/images/ov_icons.svg#ov_cog"></use>
            </svg>
        </button>
        <button id="network_icon" class="icon">
            <svg>
                <use xlink:href="/images/ov_icons.svg#ov_network"></use>
            </svg>
        </button>
        <button id="headphone_icon" class="icon">
            <svg>
                <use xlink:href="/images/ov_icons.svg#ov_headphone"></use>
            </svg>
        </button>
        <button id="microphone_icon" class="icon">
            <svg>
                <use xlink:href="/images/ov_icons.svg#ov_microphone"></use>
            </svg>
        </button>
        <button id="deconnect_icon" class="icon">
            <svg>
                <use xlink:href="/images/ov_icons.svg#ov_unlink"></use>
            </svg>
        </button>
        <button id="connect_icon" class="icon">
            <svg>
                <use xlink:href="/images/ov_icons.svg#ov_link"></use>
            </svg>
        </button>
        <button id="exit_network_icon" class="icon">
            <svg>
                <use xlink:href="/images/ov_icons.svg#ov_exit"></use>
            </svg>
        </button>
        <span id="node_name"></span>
        <dialog id="settings">
            <button class="close_button">
                <div class="icon">
                    <svg>
                        <use xlink:href="/images/ov_icons.svg#ov_close"></use>
                    </svg>
                </div>
            </button>
            <h3></h3>
            <span id="dialog_error_message" class="ov_red_background"></span>

            <label for="edit_id" id="id_label">ID</label>
            <label for="edit_id" id="user_name_label">Username</label>
            <input id="edit_id" name="id" type="text" title="A-Z a-z 0-9 . - _ @">

            <label for="edit_password">Password</label>
            <input id="edit_password" name="password" type="password" autocomplete="new-password">

            <label for="edit_name" id="display_name_label">Display Name</label>
            <label for="edit_name" id="name_label">Name</label>
            <span id="name_char_max">/20</span>
            <span id="name_char_count">0</span>
            <input id="edit_name" name="name" type="text" autofocus maxlength="20">


            <label for="edit_multicast_ip">Multicast IP</label>
            <input id="edit_multicast_ip" name="multicast_ip" type="text">
            <span id="edit_multicast_split"> : </span>
            <input id="edit_multicast_port" name="multicast_port" type="text">

            <label for="edit_font_color">Font color</label>
            <select name="font_color" id="edit_font_color">
                <option selected value="">default</option>
                <option value="red">Red</option>
                <option value="orange">Orange</option>
                <option value="yellow">Yellow</option>
            </select>

            <button id="delete_element" class="red_button">Delete</button>
            <button id="save_element">Ok</button>

        </dialog>
    </div>
</template>