#branding {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 2.5rem;
    grid-column-gap: 0.125rem;
    grid-row-gap: 0.25rem;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
}

.logo {
    height: 3rem;
    padding: 0.125rem;
    min-width: 1px;
    display: inline-block;
}

#title {
    display: inline;
    vertical-align: 0.7rem;
}

#title span {
    font-size: 1.5rem;
    vertical-align: text-top;
}


#branding.subtitle_unset {
    grid-template-rows: 3rem 0.5rem;
}

#branding.subtitle_unset #subtitle {
    display: none;
}