<div id="project_settings" class="view">
    <!--div id="edit_error_message"></div-->

    <label for="edit_id">ID</label>
    <input id="edit_id" name="id" type="text">

    <label for="edit_name">Name</label>
    <input id="edit_name" name="name" type="text">

    <label for="edit_domain">Domain</label>
    <input id="edit_domain" name="domain" type="text" disabled>

    <details id="delete_project">
        <summary>
            Delete
        </summary>
        <button id="delete_button" class="button red_button">Delete</button>
    </details>
</div>