#
# Standart OpenSSL configuration file to generate the openvocs.test
# certificates
#

[ req ]

default_bits		= 2048
distinguished_name	= req_distinguished_name
req_extensions		= req_ext

prompt				= no

[ req_distinguished_name ]

countryName			= DE
stateOrProvinceName	= Berlin
localityName		= Berlin
organizationName	= DLR e.V.
organizationalUnitName=openvocs
commonName			= openvocs.test
emailAddress		= dlr@openvocs.de

[ req_ext ]

basicConstraints = CA:TRUE
subjectAltName=@alt_names

[ alt_names ]

DNS.1 = openvocs.test
DNS.2 = *.openvocs.test
DNS.3 = localhost
DNS.4 = openvocs
DNS.5 = *.openvocs

IP.1 = 127.0.0.1