.openvocs-yellow
{color:#fff;background-color:#f7ba0b}

.openvocs-orange
{color:#fff;background-color:#d4652f}

.openvocs-red
{color:#fff;background-color:#a02128}

.openvocs-violet
{color:#fff;background-color:#904684}

.openvocs-blue
{color:#fff;background-color:#154889}

.openvocs-green
{color:#fff;background-color:#317f43}

.openvocs-grey
{color:#fff;background-color:#9b9b9b}

.openvocs-brown
{color:#fff;background-color:#7b5141}

.openvocs-white
{color:#000;background-color:#f4f4f4}

.openvocs-black
{color:#fff;background-color:#282828}

.openvocs-amber,.openvocs-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.openvocs-aqua,.openvocs-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.openvocs-blue,.openvocs-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.openvocs-light-blue,.openvocs-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.openvocs-brown,.openvocs-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.openvocs-cyan,.openvocs-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.openvocs-blue-grey,.openvocs-hover-blue-grey:hover,.openvocs-blue-gray,.openvocs-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.openvocs-green,.openvocs-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.openvocs-light-green,.openvocs-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.openvocs-indigo,.openvocs-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.openvocs-khaki,.openvocs-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.openvocs-lime,.openvocs-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.openvocs-orange,.openvocs-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.openvocs-deep-orange,.openvocs-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.openvocs-pink,.openvocs-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.openvocs-purple,.openvocs-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.openvocs-deep-purple,.openvocs-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.openvocs-red,.openvocs-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.openvocs-sand,.openvocs-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.openvocs-teal,.openvocs-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.openvocs-yellow,.openvocs-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.openvocs-white,.openvocs-hover-white:hover{color:#000!important;background-color:#fff!important}
.openvocs-black,.openvocs-hover-black:hover{color:#fff!important;background-color:#000!important}
.openvocs-grey,.openvocs-hover-grey:hover,.openvocs-gray,.openvocs-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.openvocs-light-grey,.openvocs-hover-light-grey:hover,.openvocs-light-gray,.openvocs-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.openvocs-dark-grey,.openvocs-hover-dark-grey:hover,.openvocs-dark-gray,.openvocs-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.openvocs-pale-red,.openvocs-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.openvocs-pale-green,.openvocs-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.openvocs-pale-yellow,.openvocs-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.openvocs-pale-blue,.openvocs-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.openvocs-text-amber,.openvocs-hover-text-amber:hover{color:#ffc107!important}
.openvocs-text-aqua,.openvocs-hover-text-aqua:hover{color:#00ffff!important}
.openvocs-text-blue,.openvocs-hover-text-blue:hover{color:#2196F3!important}
.openvocs-text-light-blue,.openvocs-hover-text-light-blue:hover{color:#87CEEB!important}
.openvocs-text-brown,.openvocs-hover-text-brown:hover{color:#795548!important}
.openvocs-text-cyan,.openvocs-hover-text-cyan:hover{color:#00bcd4!important}
.openvocs-text-blue-grey,.openvocs-hover-text-blue-grey:hover,.openvocs-text-blue-gray,.openvocs-hover-text-blue-gray:hover{color:#607d8b!important}
.openvocs-text-green,.openvocs-hover-text-green:hover{color:#4CAF50!important}
.openvocs-text-light-green,.openvocs-hover-text-light-green:hover{color:#8bc34a!important}
.openvocs-text-indigo,.openvocs-hover-text-indigo:hover{color:#3f51b5!important}
.openvocs-text-khaki,.openvocs-hover-text-khaki:hover{color:#b4aa50!important}
.openvocs-text-lime,.openvocs-hover-text-lime:hover{color:#cddc39!important}
.openvocs-text-orange,.openvocs-hover-text-orange:hover{color:#ff9800!important}
.openvocs-text-deep-orange,.openvocs-hover-text-deep-orange:hover{color:#ff5722!important}
.openvocs-text-pink,.openvocs-hover-text-pink:hover{color:#e91e63!important}
.openvocs-text-purple,.openvocs-hover-text-purple:hover{color:#9c27b0!important}
.openvocs-text-deep-purple,.openvocs-hover-text-deep-purple:hover{color:#673ab7!important}
.openvocs-text-red,.openvocs-hover-text-red:hover{color:#f44336!important}
.openvocs-text-sand,.openvocs-hover-text-sand:hover{color:#fdf5e6!important}
.openvocs-text-teal,.openvocs-hover-text-teal:hover{color:#009688!important}
.openvocs-text-yellow,.openvocs-hover-text-yellow:hover{color:#d2be0e!important}
.openvocs-text-white,.openvocs-hover-text-white:hover{color:#fff!important}
.openvocs-text-black,.openvocs-hover-text-black:hover{color:#000!important}
.openvocs-text-grey,.openvocs-hover-text-grey:hover,.openvocs-text-gray,.openvocs-hover-text-gray:hover{color:#757575!important}
.openvocs-text-light-grey,.openvocs-hover-text-light-grey:hover,.openvocs-text-light-gray,.openvocs-hover-text-light-gray:hover{color:#f1f1f1!important}
.openvocs-text-dark-grey,.openvocs-hover-text-dark-grey:hover,.openvocs-text-dark-gray,.openvocs-hover-text-dark-gray:hover{color:#3a3a3a!important}
.openvocs-border-amber,.openvocs-hover-border-amber:hover{border-color:#ffc107!important}
.openvocs-border-aqua,.openvocs-hover-border-aqua:hover{border-color:#00ffff!important}
.openvocs-border-blue,.openvocs-hover-border-blue:hover{border-color:#2196F3!important}
.openvocs-border-light-blue,.openvocs-hover-border-light-blue:hover{border-color:#87CEEB!important}
.openvocs-border-brown,.openvocs-hover-border-brown:hover{border-color:#795548!important}
.openvocs-border-cyan,.openvocs-hover-border-cyan:hover{border-color:#00bcd4!important}
.openvocs-border-blue-grey,.openvocs-hover-border-blue-grey:hover,.openvocs-border-blue-gray,.openvocs-hover-border-blue-gray:hover{border-color:#607d8b!important}
.openvocs-border-green,.openvocs-hover-border-green:hover{border-color:#4CAF50!important}
.openvocs-border-light-green,.openvocs-hover-border-light-green:hover{border-color:#8bc34a!important}
.openvocs-border-indigo,.openvocs-hover-border-indigo:hover{border-color:#3f51b5!important}
.openvocs-border-khaki,.openvocs-hover-border-khaki:hover{border-color:#f0e68c!important}
.openvocs-border-lime,.openvocs-hover-border-lime:hover{border-color:#cddc39!important}
.openvocs-border-orange,.openvocs-hover-border-orange:hover{border-color:#ff9800!important}
.openvocs-border-deep-orange,.openvocs-hover-border-deep-orange:hover{border-color:#ff5722!important}
.openvocs-border-pink,.openvocs-hover-border-pink:hover{border-color:#e91e63!important}
.openvocs-border-purple,.openvocs-hover-border-purple:hover{border-color:#9c27b0!important}
.openvocs-border-deep-purple,.openvocs-hover-border-deep-purple:hover{border-color:#673ab7!important}
.openvocs-border-red,.openvocs-hover-border-red:hover{border-color:#f44336!important}
.openvocs-border-sand,.openvocs-hover-border-sand:hover{border-color:#fdf5e6!important}
.openvocs-border-teal,.openvocs-hover-border-teal:hover{border-color:#009688!important}
.openvocs-border-yellow,.openvocs-hover-border-yellow:hover{border-color:#ffeb3b!important}
.openvocs-border-white,.openvocs-hover-border-white:hover{border-color:#fff!important}
.openvocs-border-black,.openvocs-hover-border-black:hover{border-color:#000!important}
.openvocs-border-grey,.openvocs-hover-border-grey:hover,.openvocs-border-gray,.openvocs-hover-border-gray:hover{border-color:#9e9e9e!important}
.openvocs-border-light-grey,.openvocs-hover-border-light-grey:hover,.openvocs-border-light-gray,.openvocs-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.openvocs-border-dark-grey,.openvocs-hover-border-dark-grey:hover,.openvocs-border-dark-gray,.openvocs-hover-border-dark-gray:hover{border-color:#616161!important}
.openvocs-border-pale-red,.openvocs-hover-border-pale-red:hover{border-color:#ffe7e7!important}.openvocs-border-pale-green,.openvocs-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.openvocs-border-pale-yellow,.openvocs-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.openvocs-border-pale-blue,.openvocs-hover-border-pale-blue:hover{border-color:#e7ffff!important}