@media (min-width:481px) {
    :root {
        --base_font_size: 16px;
    }
}

#login_area {
    width: 22rem;
    margin: 0 auto;
}

ov-branding {
    width: 100%;
    display: grid;
}

#login {
    width: 100%;
    margin-top: 0.5rem;
}

#server {
    margin-top: 0.375rem;
}

#login_message {
    text-align: center;
    color: var(--red);
}

#dlr_logo {
    vertical-align: middle;
    height: 3.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

p {
    margin: 0;
}