select {
    width: 11rem;
}

label {
    min-width: 11rem;
}

:host([hidden=true]) {
    display: none !important;
}

:host([global=true]) #name::after {
    content: "\e968";
    font-family: FluentSystemIcons-Resizable !important;
    font-size: 1rem;
    margin-left: 0.1rem;
}
