<main id="sip_config" class="view">
    <section id="sip_loops"> </section>

    <section id="sip_settings">
        <fieldset id="whitelist">
            <h3>Whitelist</h3>
            <div id="whitelist_entries"></div>

            <button id="add_whitelist_entry">
                <div class="icon">

                    <svg>
                        <use xlink:href="/images/ov_icons.svg#ov_plus"></use>
                    </svg>
                </div>
            </button>
        </fieldset>
        <fieldset>
            <h3>
                Rights
            </h3>
            <div id="sip_roles"></div>
        </fieldset>
    </section>
</main>