:root {
    --touch: 1;
}

#sip_config {
    display: grid;
    grid-template-columns: 15rem 1fr;
    height: inherit;
}

ov-sip-config-role {
    padding: 0.5rem;
    display: block;
}

ov-sip-whitelist {
    padding-left: 0.5rem;
    display: block;
}

ov-sip-config-role:nth-child(2n + 1), ov-sip-whitelist:nth-child(2n + 1) {
    background-color: var(--element_hover_background_color);
}

#add_whitelist_entry .icon {
    width: 1rem;
    height: 1rem;
    margin: auto;
}

#loops, #sip_settings {
    height: 100%;
    overflow-y: auto;
}

#warning {
    display: none;
}

#sip_loops:empty ~ #warning {
    display: inherit;
}

#sip_loops:empty + #sip_settings {
    display: none;
}