#loop_layout {
    --touch: 1;
    height: auto;
    padding: 0;
}

#open_menu {
    position: fixed;
    top: 0.1rem;
    left: 0.1rem;
    background-color: var(--element_background_color);
}

#open_menu .icon {
    height: 1.5rem;
    width: 2rem;
    margin: 0 auto;
}

#choose_role {
    position: fixed;
    top: 0.6rem;
    left: 5rem;
    width: 10rem;
}

#choose_page {
    position: fixed;
    top: 0.6rem;
    left: 16rem;
    width: 10rem;
}

.used {
    color: var(--input_highlight_text_color);
}

label[for=project_options_panel],
label[for=role_options_panel] {
    margin-top: 0;
    text-decoration: underline;
}

#menu, #choose_loop_dialog {
    min-width: 20rem;
}