#loop_layout {
    --touch: 1;
    height:auto;
    padding: 0;
}

#open_menu {
    position: fixed;
    top: 0.1rem;
    left: 0.1rem;
    z-index: 100;
    background-color: var(--element_background_color);
}

#open_menu .icon {
    height: 1.5rem;
    width: 2rem;
    margin: 0 auto;
}

#choose_role {
    position: fixed;
    top: 0.6rem;
    left: 5rem;
    z-index: 100;
    width: 10rem;
}

#choose_page {
    position: fixed;
    top: 0.6rem;
    left: 16rem;
    z-index: 100;
    width: 10rem;
}

/* .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  max-width: 100%;
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr); /* No more than 5 columns */
 /* }
}*/