<div id="loop_layout" class="view">
    <button id="open_menu">
        <div class="icon">
            <svg>
                <use xlink:href="/images/ov_icons.svg#ov_bars"></use>
            </svg>
        </div>
    </button>
    <dialog id="menu">
        <div id="project_options_panel" class="fieldset">
            <label for="project_options_panel">Project Settings</label>
            <div>
                <label for="grid_columns_input">Columns</label>
                <input type="number" min="1" max="9" step="1" id="grid_columns_input">
            </div>
            <div>
                <label for="grid_rows_input">Rows</label>
                <input type="number" min="1" max="9" step="1" id="grid_rows_input">
            </div>
        </div>
        <div id="role_options_panel" class="fieldset">
            <label for="role_options_panel">Role Settings</label>
            <div>
                <label for="number_pages">Number of Pages</label>
                <input type="number" min="1" step="1" max="9" id="number_pages">
            </div>
        </div>
    </dialog>
    <select id="choose_role"></select>
    <select id="choose_page"></select>
    <ov-loop-pages id="loops"></ov-loop-pages>
    <dialog id="choose_loop_dialog">
        <select id="loop_chooser"></select>
    </dialog>
</div>