<main id="login_area" class="view">
    <button id="reload_page">
        <div class="icon">
            <svg>
                <use xlink:href="/images/ov_icons.svg#ov_reload"></use>
            </svg>
        </div>
    </button>
    <div id="dlr_logo" class="logo logo_dlr"></div> 
    <ov-branding></ov-branding>

    <section id="login">
        <div id="authentication_step" class="step">
            <div class="step_body">
                <ov-login-form></ov-login-form>
            </div>
        </div>

        <div id="authorization_step" class="step">
            <div class="step_body">
                <ov-nav direction="column" id="authorization_list"></ov-nav>
            </div>
        </div>

        <div id="server">
            <p>Server: <span id="server_address"></span></p>
            
            <p>Keyset: <span id="keyset"></span></p>
            
            <p>Version: <span id="version"></span></p>
        </div>
        <div id="login_message"></div>
    </section>
</main>