<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>openvocs voice client</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<!-- Place favicon.ico in the root directory -->
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/css/ov_basic.css" />
</head>

<body>
	<div class="container" id="view_container"></div>

	<script type="text/javascript" src="../auth/js/default_config.js"></script> <!-- default login config -->
	<script type="text/javascript" src="./js/default_config.js"></script> <!-- default vocs config -->
	<script type="text/javascript" src="/config_vocs.js"></script> <!-- user config -->

	<script>
		DEBUG_LOG_INCOMING_EVENTS = true;
		DEBUG_LOG_OUTGOING_EVENTS = true;
	</script>
	<script type="module">
		import ov_Websocket from "/lib/test/ov_websocket_dummy.js";
		import * as ov_Websockets from "/lib/ov_websocket_list.js";
		import * as Voice_Client from "./js/vocs.js";
		import * as ov_Auth from "/lib/ov_auth.js";

		document.addEventListener("DOMContentLoaded", async function () {
			let view_container = document.getElementById("view_container");
			await ov_Websockets.setup_connections(ov_Websocket);
            await ov_Auth.login("test", "test", ov_Websockets.prime_websocket);
            await ov_Auth.collect_roles();
            await ov_Auth.authorize_role("test2");

			Voice_Client.render(view_container);
			
		});
	</script>
</body>