<!DOCTYPE html>
<html lang="en" class="light">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html">
        <title>Login Interface</title>
        <link rel="stylesheet" href="style.css">
        <style>
            @import "/css/ov_basic.css";
            root {
                --touch: 1;
            }
            body {
                background-color: var(--base_color);
            }
        </style>
        <script type="module" src="login_form.js"></script>
    </head>
    <body>
        <ov-login-form></ov-login-form>
    </body>
</html>