:host {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    grid-template-areas:
        "join join leave"
        "volume sip leave";
    grid-template-rows: 1fr auto;
}

#loop_sip {
    grid-area: sip;
    height: inherit;
    border-radius: 0;
    margin: 0;
    line-height: 1em;
    font-size: clamp(6px, min(9cqh, 9cqw), 1.3rem);
}

:host([state=recv]) #loop_sip,
:host([state=recv]) #loop_volume #loop_volume_input_container {
    background-color: var(--blue);
}

:host([state=send]) #loop_sip,
:host([state=send]) #loop_volume #loop_volume_input_container {
    background-color: var(--green);
}

.icon.sip-phone-icon {
    width: 1.2em;
    height: 1.2em;
    transform: rotate(135deg);
}

:host([sip_status=off]) .icon.sip-phone-icon::before {
    content: "/";
    position: absolute;
    font-size: 1.5em;
    margin-left: 0.25em;
    margin-top: 0.2em;
}

:host([sip_status=call]) .icon.sip-phone-icon {
    transform: rotate(0deg);
}

:host:not([permission=send]) .icon.sip-phone-icon {
    display: none;
}

#sip_badge_icon {
    position: absolute;
    margin-top: -0.4em;
    margin-left: -0.3em;
    width: 1em;
}

#sip_badge_icon svg {
    display: none;
}

#sip_badge_icon.sip_badge_1 #sip_badge_1 {
    display: inherit;
}

#sip_badge_icon.sip_badge_2 #sip_badge_2 {
    display: inherit;
}

#sip_badge_icon.sip_badge_3 #sip_badge_3 {
    display: inherit;
}

#sip_badge_icon.sip_badge_4 #sip_badge_4 {
    display: inherit;
}

#sip_badge_icon.sip_badge_5 #sip_badge_5 {
    display: inherit;
}

#sip_badge_icon.sip_badge_6 #sip_badge_6 {
    display: inherit;
}

/**
loops for grid layout ---------------------------------------------------------
*/
@media (min-width:481px) {
    :host {
        grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 1fr);
        grid-template-rows: minmax(min-content, 1.8fr) minmax(min-content, 1fr);
        grid-template-areas: "join join join" "volume sip leave";
    }
}

@container loop (width < 50vw) {
    #loop_volume {
        position: relative;
        justify-content: center;
    }

    #loop_volume .icon {
        width: 1em;
    }

    #loop_volume #loop_volume_input {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-clip: content-box;
    }

    #loop_volume #loop_volume_input::-webkit-slider-thumb {
        width: 100%;
        height: 2rem;
    }

    #loop_volume #loop_volume_input::-moz-range-thumb {
        width: 100%;
        height: 2rem;
    }

    #loop_volume #loop_volume_input_container {
        position: absolute;
        background-color: var(--secondary_background_color);
        width: 100%;
        padding: 0.3em 0.3em 0 0.3em;
        border-top: inherit;
        border-right: inherit;
        border-left: inherit;
        border-image: inherit;
        box-shadow: inherit;
        border-bottom: 0px;
        display: none;
        bottom: 100%;
        height: 65cqh;
    }

    #loop_volume #loop_volume_input {
        writing-mode: vertical-lr;
        direction: rtl;
    }

    #loop_volume #loop_volume_indicator_value {
        display: inherit;
    }
}