<template id="template">
    <div id="audio-controls">
        <div id="recorder-play-button">
            <button>
                <span id="play-icon">&#x23F5;</span>
                <span id="pause-icon" style="display: none;">&#x23F8;</span>
            </button>
        </div>
        <div>
            <div id="time-display">
                <span id="elapsed-time">0:00</span>
                <span id="divider">/</span>
                <span id="total-time">0:00</span>
            </div>

        </div>
        <div id="recorder-player">
            <div id="progress-container">
                <div id="progress-bar"></div>
            </div>
            <audio id="my-audio" preload="auto">
                <source />
            </audio>
        </div>
        <div id="start-time-display">
            <span id="start-timestamp">N/A</span>
        </div>
    </div>
</template>