#loop {
    display: grid;
    grid-template-columns: 1.7rem 1fr;
    width: 13rem;
    padding: 0.4rem;
}

#loop.calls_allowed .sip-phone-icon{
    opacity: 1;
}

.sip-phone-icon {
    height: 1.5rem;
    text-align: left;
    opacity: 0;
    line-height: 3.3rem;
}

#loop_name {
    text-align: left;
    line-height: 2.7rem;
    margin-left: 0.5rem;
    font-size: 1rem;
}

#loop:disabled {
  cursor: default;
  color: var(--white) !important;
  border: var(--element_art_color) solid 0.1rem;
}