[Unit]
Description=ov_mc_interconnect
PartOf=ov_mc_interconnect.target
Wants=network-online.target
After=network-online.target

[Service]
LimitNOFILE=10000
ExecStart=/usr/bin/ov_mc_interconnect -c /etc/openvocs/ov_mc_interconnect/config.json
Restart=on-failure

[Install]
WantedBy=multi-user.target
